html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Share Tech', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: #131313;
}

a {
  text-decoration: none;
  color: #039b9b;
}

a:hover {
  color: #f9690e;
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(135deg, #f9690e 0%, white 100%);
}

.line2 {
  width: 30px;
  height: 3px;
  background: linear-gradient(135deg, #f9690e 0%, white 100%);
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(135deg, #f9690e 0%, white 100%);
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
  z-index: 998;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: #f9690e;
}

.toggle {
  background: none;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
          transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
          transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@-webkit-keyframes navLinkAnimate {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../assets/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
          animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid white;
}

@-webkit-keyframes typing {
  75% {
    width: 0ch;
    color: #f9690e;
  }
  100% {
    width: 27ch;
  }
}

@keyframes typing {
  75% {
    width: 0ch;
    color: #f9690e;
  }
  100% {
    width: 27ch;
  }
}

@-webkit-keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid #c2c2c2;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid #c2c2c2;
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: #f9690e;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}

.intro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  margin: 0 9px;
  background: #039b9b;
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: #bd4800;
}

.scroll-down i {
  color: #fafafa;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: #bd4800;
}

.about {
  width: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 70rem;
  margin: auto;
  padding: 4rem 1.5rem 0 1.5rem;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  -webkit-box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
          box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  border: 0;
  height: 1px;
}

.skills {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
}

.skills-tiers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.tier-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

.tier-item i {
  font-size: 3.5rem;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.projects {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

.contact {
  width: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 70rem;
  margin: auto;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }
  .services-tiers {
    gap: 0;
  }
  .project-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2rem;
    -webkit-box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
            box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }
  .main-message h3 {
    font-size: 2rem;
  }
  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }
  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer,
  footer p {
    font-size: 1.2rem;
  }
}
